// Palette
$white: #ffffff;
$black: #000000;
$green: #0aa89e;
$green-dark: #08877f;
$blue: #3db4e5;

$grey-dark: #195E99;
$grey-middle: #999999;
$grey-light: #e5e6e6;

$grey-card: #edeff1;
$grey-element: #8897a9;

$text-light: #969c9c;
$text-dark: #333333;
$cyan: #00BCD4;
$green500: #4CAF50;